<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link type="text/css" rel="stylesheet" href="/static/styles/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/styles/main.css" />

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/styles/agency.css" rel="stylesheet">
    <link href="/static/styles/stylish-portfolio.css" rel="stylesheet">

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">MaPépinière</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#concept">Le Concept</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">Comment ca marche ?</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#team">L'équipe</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">Pépite</h1>
        <h3 class="mb-5">
          <em>Partagez votre pépite et découvrez celles qui vous entourent</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/home">Je crée un pépite forum</a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/home">Je rejoins mon pépite forum</a>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>Vous avez tellement à apporter aux autres, et tant à recevoir d'eux.</h2>
            <p class="lead mb-5">
              MaPépinière vous offre un moyen de créer des liens forts et durables entre les
              membres de votre communauté.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-heart"></i>
            </span>
            <h4>
              <strong>Aidez les autres</strong>
            </h4>
            <p class="text-faded mb-0">Participez au financement d'une association de votre choix.</br>
            1 pépite = 10 euros</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-people"></i>
            </span>
            <h4>
                <strong>Rencontrer</strong>
              </h4>
              <p class="text-faded mb-0">Participer à une pépite c'est apprendre quelque chose mais aussi
                échanger avec un petit groupe de pationnés.
              </p>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-trophy"></i>
            </span>
            <h4>
                <strong>Apprendre à vous connaitre</strong>
              </h4>
              <p class="text-faded mb-0">Tout le monde à une pépite au fond de soit, c'est l'occasion
                de la révéler aux autres.
              </p>
          </div>
      </div>
    </section>

    <!-- Concept -->
    <section class="callout" id="concept">
      <div class="container text-center col-8">
        <h2 class="mx-auto mb-5">Le concept</h2>
        <p>Les Pépites c’est un levier de création de lien social entre les membres d’une communauté.</br>
        Consciemment ou non, nous faisons partie de plusieurs communautés : celle de notre
        immeuble, de notre rue, de notre quartier ou de notre ville, celle de notre entreprise, celle de
        notre association, celle des parents d’élèves, celle de notre club de sport, celle du bus 248…
        Dans l’une ou l’autre de ces communautés, il peut s’avérer nécessaire de connaître les
        autres personnes qui la composent, de s’entraider, ou de créer des amitiés. Cela passe
        nécessairement par des occasions de se rencontrer de façon suffisamment qualitative pour
        créer des liens forts et durables.</br>
        Or, chacun pressé dans un quotidien déjà bien rempli, les occasions sont souvent trop rares
        pour connaître son entourage. S’il n’y a pas de raison justifiée d’entrer en contact, il peut
        devenir difficile d’aller spontanément à la rencontre de l’autre, et bien plus encore d’oser
        demander de l’aide.</br>
        C’est là que Les Pépites agissent : nous créons une possibilité de rencontre entre les
        personnes, justifiée par le partage de talents, lors d’un temps qualitatif en petit comité.
        C’est notre conviction, ces temps tisseront des liens entre les personnes, ils feront naître un
        sentiment d’appartenance à la communauté, permettront l’intégration et la valorisation des
        personnes et créeront des solidarités naturelles entre elles.</br></br></p>

        <h6>Pourquoi acheter des talents gratuits ?</h6>

        <p>Afin de rester dans une logique de partage et d’échange, il ne fallait pas que l’offre de talent
        soit rémunératrice. La personne qui offre une pépite doit le faire avec la volonté de
        rencontrer et de transmettre. A ce titre, supprimer la rémunération est une garantie de
        l’adéquation entre l’esprit de la pépinière et les motivations des donneurs de talents.</br>
        Toutefois, nous ne pouvions pas totalement sortir du rapport marchand, car l’achat de talent
        oblige à la rigueur des deux parties pour tenir leur engagement.</br>
        Par ailleurs, en plus de la création de lien entre les personnes, la pépinière permet une
        récolte de fond au profit d’une association. Dans la plupart des cas, la pépinière est créée
        par une association pour créer du lien entre ses membres et récolter des fonds.</p>
        <a class="btn btn-primary btn-xl" href="/">Je créer ma pépinière</a>
      </div>
    </section>


  <!-- About -->
  <section class="content-section bg-light" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Comment ca marche ?</h2>
            <h3 class="section-subheading text-muted">Voici les différentes étapes à suivre</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>Etape 1</h5>
                    <h4 class="subheading">Créez votre Pépinière</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Proposez à votre association, votre entreprise, votre école, votre
                        immeuble, votre quartier, votre ville, votre famille, votre club de sport de
                        créer une Pépinière : une communauté d’échange de pépites.
                        Il vous suffira ensuite de quelques clics sur notre site pour donner vie à
                        cette pépinière, ajouter ses membres, communiquer dessus etc.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h5>Etape 2</h5>
                    <h4 class="subheading">Rassemblez un maximum de Pépites</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Tout au long de l’année, nous vous aidons à communiquer sur la Pépinière
                      et motiver ses membres à proposer leur(s) pépite(s) : « Apprendre à tricoter un bonnet »,
                      « Visite guidée du musée d’Orsay », « Coaching sportif », « Atelier confitures »,
                      « Relire Marx au 21ème siècle », « Le CV parfait », « Manucure / Pédicure »,
                      « Le bricolage pour les nuls », « Le meilleur Couscous de Paris », « Initiation au Shiatsu »…
                      </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h5>Etape 3</h5>
                    <h4 class="subheading">Organisez le Pépite Day</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Ce sera le rendez-vous annuel lors duquel les membres de la pépinière
                      pourront acheter des Pépites, pour eux-mêmes ou pour leurs proches.
                      1 pépite = 10 euros, reversés à une association, ou à la communauté elle-même,
                      si c’est une organisation à but non lucratif.
                      Pour faciliter son organisation, le Pépite Day a généralement lieu lors d’un évènement
                      de la communauté : la soirée de noël de l’entreprise, la fête des voisins, la fête de l’école…
                      </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h5>Etape 4</h5>
                    <h4 class="subheading">Réalisez vos Pépites</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Le lendemain du Pépites Day, nous nous occupons de tout !
                      Nous mettons en contact les proposeurs de pépites et les acheteurs de pépites,
                      nous assurons un suivi régulier des pépites réalisées, relançons les retardataires,
                      et communiquons le taux de réalisation sur le mur de la pépinière.</p>
                  </div>
                </div>
              </li>
              <li>
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h5>Etape 5</h5>
                      <h4 class="subheading">Rendez-vous au prochain Pépites Day ?</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">La pépinière prend alors vie et s’anime,
                        les membres de la pépinière se rencontrent pour réaliser les pépites,
                        ils apprennent à se connaître, ils partagent et s’entraident.
                        C’est parti pour l’organisation du prochain Pépites Day !
                        </p>
                    </div>
                  </div>
                </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Be Part
                    <br>Of Our
                    <br>Story!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio -->
    <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">Exemples</h3>
          <h2 class="mb-5">Nos dernières pépites proposées</h2>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6">
            <a class="portfolio-item">
              <span class="caption">
                <span class="caption-content">
                  <h1>Initiation à la voile</h1>
                  <h2>Pépite offerte à Chatou</h2>
                  <p class="mb-0">Je vous propose une journée ou un week-end en basse Normandie pour vous faire découvrir la voile.</p>
                </span>
              </span>
              <img class="img-fluid" src="static/img/exemples_pepites/voile.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item">
              <span class="caption">
                <span class="caption-content">
                  <h1>Cours d'oenologie</h1>
                  <h2>Pépite offerte à Paris</h2>
                  <p class="mb-0">Je vous propose une degustation de vin pour apprendre à discerner les bons et mauvais vins.</p>
                </span>
              </span>
              <img class="img-fluid" src="static/img/exemples_pepites/vin.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item">
              <span class="caption">
                <span class="caption-content">
                  <h1>Apprendre à faire des massages</h1>
                  <h2>Pépite offerte à Chatou</h2>
                  <p class="mb-0">Apaise les tensions et rééquilibre les centres énergétiques, crée un état émotionnel positif !</p>
                </span>
              </span>
              <img class="img-fluid" src="static/img/exemples_pepites/massage.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item">
              <span class="caption">
                <span class="caption-content">
                  <h1>Surmonter sa peur en avion</h1>
                  <h2>Pépite offerte à Paris</h2>
                  <p class="mb-0">Pépite offerte basée basé sur mon expérience (Co-fondatrice du Centre Anti Stress à Air France)</p>
                </span>
              </span>
              <img class="img-fluid" src="static/img/exemples_pepites/avion.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="content-section bg-primary text-white text-center" id="team">
      <div class="container">
        <div class="content-section-heading">
          <h2 class="mb-5">Notre équipe</h2>
          <p class="lead mb-5">L'association mapépinière est composée de deux membres à son actif:</p>
        </div>
        <div class="row">
          <div class="offset-2 col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="static/img/ariane.jpg" alt="">
              <h4>
                <strong>Ariane de Gabrielli</strong>
              </h4>
              <p class="text-faded mb-0">Responsable communauté</p></br>
             <ul class="list-inline social-buttons">
               <li class="list-inline-item">
                 <a href="mailto:ariane.degabrielli@email.com">
                   <i class="fa fa-envelope"></i>
                 </a>
               </li>
               <li class="list-inline-item">
                 <a href="https://www.linkedin.com/in/ariane-de-gabrielli-270589a8/">
                   <i class="fa fa-linkedin"></i>
                 </a>
               </li>
             </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="static/img/tanguy.jpg" alt="">
              <h4>
                <strong>Tanguy de La Villegeorges</strong>
              </h4>
              <p class="text-faded mb-0">Responsable plateforme</p></br>
             <ul class="list-inline social-buttons">
               <li class="list-inline-item">
                 <a href="mailto:tvillegeorges@email.com">
                   <i class="fa fa-envelope"></i>
                 </a>
               </li>
               <li class="list-inline-item">
                 <a href="https://www.linkedin.com/in/tanguy-de-la-villegeorges-a2a50786/">
                   <i class="fa fa-linkedin"></i>
                 </a>
               </li>
             </ul>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="text-center col-8 offset-2">
          <p>D’où vient l’idée de la pépinière ? C’est la mère d’Ariane, Béatrice, qui est à l’origine de la
          Pépinière. Elle avait imaginé ce concept, qu’elle appelait alors « La Bourse aux Talents », et
          l’avait proposé plusieurs années de suite dans son association. Dès la première année, ça a
          été un vrai succès, et plusieurs personnes en France l’ont contacté pour proposer la même
          initiative dans leur association.</br></br>
          Pour permettre au maximum de personnes d’en faire l’expérience dans leur communauté,
          nous avons décidé ensemble de créer une plate-forme simple d’utilisation, et qui supporte
          un grand nombre de pépinières sans besoin de temps de maintenance additionnel. Notre
          souhait est que le plus grand nombre puisse en profiter, sans que cela nous demande un
          investissement en temps trop important.</p>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="#">
              <i class="icon-social-github"></i>
            </a>
          </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; Pépites 2018</p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/stylish-portfolio.min.js"></script>

  </body>

</html>
